@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  background: #E9E7DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 98%;
  max-width: 1200px;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10px 1fr 1fr 1fr 1fr 10px;
      grid-template-columns: 10px 1fr 1fr 1fr 1fr 10px;
  -ms-grid-rows: 10px 1fr 1fr 1fr 10px;
      grid-template-rows: 10px 1fr 1fr 1fr 10px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1rem;
}

.card * {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.card h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #E6F4F1;
  text-shadow: 0 0 5px #0c1124;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .5px;
}

.card button {
  position: absolute;
  font-size: 1.1rem;
  right: 20px;
  bottom: 15px;
  background: none;
  border: none;
}

.card button:hover {
  cursor: pointer;
}

.card button:focus, .card button:active, .card button:hover {
  border: none;
  outline: none;
}

.card-1 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  background: #badbff;
}

.card-1 * {
  color: #0c1124;
  text-shadow: 0 0 3px #E6F4F1;
}

.card-2 {
  background: #2bcbba;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.card-2 * {
  color: #0c1124;
  text-shadow: 0 0 3px #E6F4F1;
}

.card-3 {
  background: #4b6584;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

.card-4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  background: #0fb9b1;
}

.card-4 * {
  color: #0c1124;
  text-shadow: 0 0 3px #E6F4F1;
}

.card-5 {
  background: #778ca3;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
}

.card-5 * {
  color: #E6F4F1;
  text-shadow: 0 0 3px #0c1124;
}

.overlay.hidden {
  display: none;
}

.overlay.shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, right bottom, from(#4b6584), to(#0fb9b1));
  background: linear-gradient(to bottom right, #4b6584, #0fb9b1);
}

.overlay-container {
  max-width: 968px;
  min-height: 200px;
  background: red;
  width: 98%;
  position: relative;
  padding: 3.5rem 1.5rem 1.5rem;
}

.overlay button.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  color: #E6F4F1;
  border: 1px solid #E6F4F1;
  padding: .25rem .75rem;
}

@media only screen and (max-width: 900px) {
  main {
    -ms-grid-columns: 10px 1fr 1fr 10px;
        grid-template-columns: 10px 1fr 1fr 10px;
    -ms-grid-rows: 10px 1fr 1fr 1fr 10px;
        grid-template-rows: 10px 1fr 1fr 1fr 10px;
  }
  .card-1 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  .card-2 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
  }
  .card-3 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
  }
  .card-4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  .card-5 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
  }
}

@media only screen and (max-width: 500px) {
  main {
    -ms-grid-columns: 10px 1fr 10px;
        grid-template-columns: 10px 1fr 10px;
    -ms-grid-rows: 10px 1fr 1fr 1fr 1fr 1fr 10px;
        grid-template-rows: 10px 1fr 1fr 1fr 1fr 1fr 10px;
  }
  .card-3 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  .card-1 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    background: #2bcbba;
  }
  .card-2 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    background: #badbff;
  }
  .card-4 {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  .card-5 {
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 7;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
}
/*# sourceMappingURL=style.css.map */