@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// CSS Reset above

// Variables
$color-teal-light: #2bcbba;
$color-blue-pale: #778ca3;
$color-teal-dark: #0fb9b1;
$color-blue-dark: #4b6584;
$color-blue-light: #badbff;
$color-cream: #E9E7DC;
$color-off-white: #E6F4F1;
$color-dark-grey: #0c1124;

// styles

.container {
    min-height: 100vh;
    min-width: 100vw;
    background: $color-cream;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 98%;
    max-width: 1200px;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr 1fr 10px;
    grid-template-rows: 10px 1fr 1fr 1fr 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;

    * {
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
        color: $color-off-white;
        text-shadow: 0 0 5px $color-dark-grey;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: .5px;
    }

    button {
        position: absolute;
        font-size: 1.1rem;
        right: 20px;
        bottom: 15px;
        background: none;
        border: none;

        &:hover {
            cursor: pointer;
        }

        &:focus, &:active, &:hover {
            border: none;
            outline: none;
        }
    }
}

.card-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background: $color-blue-light;

    * {
        color: $color-dark-grey;
        text-shadow: 0 0 3px $color-off-white;
    }
}

.card-2 {
    background: $color-teal-light;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    * {
        color: $color-dark-grey;
        text-shadow: 0 0 3px $color-off-white;
    }
}

.card-3 {
    background: $color-blue-dark;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.card-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background: $color-teal-dark;

    * {

        color: $color-dark-grey;
        text-shadow: 0 0 3px $color-off-white;
    }
}

.card-5 {
    background: $color-blue-pale;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;

    * {
        color: $color-off-white;
        text-shadow: 0 0 3px $color-dark-grey;
    }
}

.overlay.hidden {
    display: none;
}

.overlay.shown {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, $color-blue-dark, $color-teal-dark)
}

.overlay-container {
    max-width: 968px;
    min-height: 200px;
    width: 98%;
    position: relative;
    padding: 3.5rem 1.5rem 1.5rem;
}

.overlay-content {
    
    * {
        font-family: 'Source Sans Pro', sans-serif;
    }

    h3 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .5px;
        color: $color-off-white;
        text-align: center;
    }
}

.overlay button.closeBtn {
    position: fixed;
    top: 15px;
    right: 20px;
    background: none;
    color: $color-off-white;
    border: 1px solid $color-off-white;
    padding: .25rem .75rem;
    font-family: 'Source Sans Pro', sans-serif;

    &:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 900px) {

    main {
        grid-template-columns: 10px 1fr 1fr 10px;
        grid-template-rows: 10px 1fr 1fr 1fr 10px;
    }

    .card-1 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .card-2 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .card-3 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .card-4 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .card-5 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 10px 1fr 1fr 1fr 1fr 1fr 10px;
    }

    .card-3 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .card-1 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        background: $color-teal-light;
    }

    .card-2 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
        background: $color-blue-light;
    }

    .card-4 {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .card-5 {
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}